@charset "UTF-8";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}


body{
    background-image: linear-gradient(to right, rgb(5, 0, 75), rgb(0, 91, 107), rgb(0, 44, 190));
  
}

#input-principal{
    width: 342px;
    height: 40px;
    border: 2px solid darkturquoise;
    border-radius: 5px;
    padding-left: 10px;
  
}

.container{
   background-color: white;
   max-width: 541px;
   margin-bottom: 100px;
   border-radius: 5px;
   margin-top: 100px;
   margin-left: auto;
   margin-right: auto;
   padding: 30px 40px;
  
}

#botão-adicionar{
    background: darkturquoise;
    border-radius: 5px;
    height: 40px;
    border: none;
    padding: 0px 15px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    float: right;
    font-weight: 700;
}
#botão-remover{
    background: darkred;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: none;
    padding: 0px 15px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    float: right;
    font-weight: 700;
    
}
#removerTodasTarefas{
    background: darkred;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    border: none;
    padding: 0px 15px;
    margin-top: 20px;
    color: white;
    font-size: 15px;
    cursor: pointer;
    font-weight: 700;
}

.botao-foguete {
    border: none;
    background: transparent;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 40px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.botao-delete {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.item-tarefa:hover .botao-delete {
    opacity: 1;
}


.fa-rocket{
    color: aqua;
}

#botão-adicionar:hover{
    background: rgb(0, 91, 107);
    opacity: 0.8;
    transition: 0.5s;
}

#botão-adicionar:active{
    background: rgb(0, 44, 190);
    opacity: 0.6;
    transition: 0.5s;

}
#botão-remover:hover{
    background: red;
    transition: 0.5s;
}

#removerTodasTarefas:hover{
    background: red;
    transition: 0.5s;
}




#tarefas{
    width: 100%;
    list-style: none;
    margin-top: 60px;
}
    

.item-tarefa{
    background: white;
    box-shadow: 1px 4px 10px black;
    border-radius: 5px;
    padding: 20px 45px;
    cursor: pointer;
    position: relative;
    margin-top: 30px;
}

nome-tarefa{

    color: white;
    font-size: 15px;
}


.fa-trash{
    color: red;
}

.item-tarefa:hover .botao-foguete{
    opacity: 1;
}

.item-tarefa:hover .botao-delete{
    opacity: 1;
}

.concluido{
   background-color: #d4f88d; 
   text-decoration: line-through;
}

.tarefa.concluida {
    text-decoration: line-through;
    color: gray;
    opacity: 0.7;
}

